[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-utils = "*"
flask-migrate = "*"
python-dotenv = "*"
requests = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.9"
